.headerText, .headerSmall {
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px rgb(92, 92, 92);
    margin: 2%;
    font-family: "Courier New", Courier, monospace;
}

.loggedIn {
    text-align: left;
    font-size: 1.5em;
    color: black;
    text-shadow: 1px 1px rgb(48, 46, 46);
}

.smallHeader {
    text-align: center;
    padding-top: 5%;
}

.header {
    padding: 2rem 1rem;
    margin-bottom: none;
    color: white;
    border-radius: .3rem;
    padding-bottom: 0px;
    
}

.headerSmall {
    font-size: 1em;
    margin: 1%;
}

.bg {
    background-image: url("headerImage.jpg");
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
    
}

.container {
    width: 100%;
}

#taken {
    background-color: rgb(253, 117, 117);
    color: white;
    height: 5em;
    border: solid black .5px;
    font-size: 1rem;
}

#avaliable, .avaliable {
    background-color: rgb(155, 255, 155);
    color: white;
    height: 5em;
    border: solid black .5px;
}

#selected, .selected {
    background-color: rgb(255, 143, 68);
    color: white;
    height: 5em;
    border: solid black .5px;
}
