.display-4 {
    text-align: center;
    font-size: 1.4em;
    margin:none;
}

.header {
    padding: 2rem 1rem;
    margin-bottom: none;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.navbar navbar-expand-sm bg-light {
    background-color: #949494;
}